::before ::after{
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{

    background-color: rgb(148, 132, 151);
}
.score-timer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;   

}

#top-score{
    color: white;
    border: 2px solid white;
    background-color: purple;
    border-radius: 20px;
    line-height: 30px;
    width: 200px;
    text-align: center;


}
#timer {
    display: flex;
    
    color: white;
    float:right;
    border: 2px solid white;
    background-color: purple;
    border-radius: 20px;
    line-height: 30px;
    width: 150px;
}

   
.card-body, .container , .container-3 {
   
    
    
    width: 65%;
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%) ;
    align-items: center;
    text-align: center;
    padding: 15px 30px;
    border: 1px solid purple;
    background-color: rgb(170, 107, 170);
    box-shadow: 0 0 10px 2px ;
    border-radius: 20px;
    height: 60%;
}





 



#title{

    font-size:45px;
}  

p{ 
    font-size: 20px;
}


.quest{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 40px;
}


.btn-grid {
    display: grid;
    gap: 5px;
    
  }
.button,
.start-btn,
    #clear,#navigate{

        margin-top: 20px;
        color: white;
        border:2px solid white;
        background-color: purple;
        border-radius: 25px;
        font-size: 20px;
        line-height: 30px;
        padding: 2%;
        box-shadow: 0 0 10px 2px;
        
       
        } 

  .button:hover, .start-btn:hover{
    border-color: purple;
}

.container-3 h1{
    
    font-size: 60px;;
}