body{
    background-color: rgb(38, 33, 39);
}
.card-body{
    color: white;
    width: 400px;
    height: 200px;
    margin-left: 50%;
    display: inline;
    text-align: center;
    padding: 100px;
    border: none;
    position: absolute;
    top: 25%;
    left: 30%;
    margin: 0 auto;
}
#title{
 
    font-size:35px;
}  
.start-btn{

border:none;
background-color: purple;
border-radius: 25px;
display: inline;
font-size: 30px;
line-height: 40px;



}
}